description "tessera"

start on (filesystem)
stop on runlevel [016]

respawn
console log
setuid {{ansible_ssh_user}}
setgid {{ansible_ssh_user}}
chdir {{tessera_dir}}

exec gunicorn -b 127.0.0.1:5000 tessera:app
